:root {
  --grid-gap: 15px;
  --dark-deep: #121212;
  --dark-normal: #1c1c1c;
  --white-normal: #fff;
  --page-bg-color: var(--dark-normal);
  --page-font-color: var(--white-normal);
}

html,
body {
  display: flex;
  flex: 1;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  color: var(--page-font-color);
  background-color: var(--page-bg-color);
}

.useless {
  color: #ddd;
}
